<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>AdServlet</servlet-name>
        <servlet-class>ru.job4j.control.AdvtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>ru.job4j.control.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>ru.job4j.control.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>ru.job4j.control.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdvtServlet</servlet-name>
        <servlet-class>ru.job4j.control.UpdateAdvtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePhotoServlet</servlet-name>
        <servlet-class>ru.job4j.control.DeletePhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OptionAdvtServlet</servlet-name>
        <servlet-class>ru.job4j.control.OptionAdvtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdvtServlet</servlet-name>
        <servlet-class>ru.job4j.control.DeleteAdvtServlet</servlet-class>
    </servlet>
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>ru.job4j.filter.CORSFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdvtServlet</servlet-name>
        <url-pattern>/deleteAdvt.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OptionAdvtServlet</servlet-name>
        <url-pattern>/option.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePhotoServlet</servlet-name>
        <url-pattern>/deletePhoto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdvtServlet</servlet-name>
        <url-pattern>/update.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdServlet</servlet-name>
        <url-pattern>/advt.do</url-pattern>
    </servlet-mapping>
</web-app>